In [1]:
import tweepy

In [2]:
consumer_key = "P4KR5pvVlbPsLKt8KQ2PGKnRU"
consumer_secret = "EtNjFas5rFEidWU7Ope1Nr50ejOJadZGPRghbnyqhH2ntt2T0O"
access_token = "993342359655014401-NTqPmqaFYEUbDKGwlgUFWaGf1GNqPGX"
access_token_secret = "LCphhKi37T3nPvgfrUTlzFskDnrKpAdcqcdygL0auev9g"

In [3]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [4]:
api = tweepy.API(auth)

In [5]:
import pandas as pd
import numpy as np

In [9]:
teams = pd.read_csv('teams.csv')
teams.head()

   No               TEAM TWITTER_ACCOUNT
0   1     Boston Red Sox          RedSox
1   2   New York Yankees         Yankees
2   3  Oakland Athletics       Athletics
3   4      Texas Rangers         Rangers
4   5   Seattle Mariners        Mariners

In [13]:
for n in range(len(teams['TWITTER_ACCOUNT'])):
    team_twitter = pd.DataFrame(columns = ['twitterID',
                                            'userID', 
                                            'username', 
                                            'content', 
                                            'retweet', 
                                            'favorite',
                                            'date'])
    tweets = tweepy.Cursor(api.user_timeline, screen_name = teams.iat[n, 2],count = 50).pages(5)
    m = 0
    for page in tweets:
        for tweet in page:
            team_twitter.loc[m,'twitterID'] = tweet.id
            team_twitter.loc[m,'userID'] = tweet.user.id
            team_twitter.loc[m,'username'] = tweet.user.name
            team_twitter.loc[m,'content'] = tweet.text
            team_twitter.loc[m,'retweet'] = tweet.retweet_count
            team_twitter.loc[m,'favorite'] = tweet.favorite_count
            team_twitter.loc[m,'date'] = tweet.created_at
            m = m + 1
    team_twitter.to_csv('teams/ %s.csv'%teams.iat[n, 1],index=False)

In [14]:
players = pd.read_csv('players.csv')
players.head()

   No            PLAYER  TWITTER_ACCOUNT
0   1       Nelson Cruz    ncboomstick23
1   2        Mike Trout        MikeTrout
2   3  Christian Yelich  ChristianYelich
3   4  andrew mccutchen       TheCUTCH22
4   5      Bryce Harper      Bharper3407

In [15]:
for n in range(len(players['TWITTER_ACCOUNT'])):
    player_twitter = pd.DataFrame(columns = ['twitterID',
                                            'userID', 
                                            'username', 
                                            'content', 
                                            'retweet', 
                                            'favorite',
                                            'date'])
    tweets = tweepy.Cursor(api.user_timeline, screen_name = players.iat[n, 2],count = 50).pages(5)
    m = 0
    for page in tweets:
        for tweet in page:
            player_twitter.loc[m,'twitterID'] = tweet.id
            player_twitter.loc[m,'userID'] = tweet.user.id
            player_twitter.loc[m,'username'] = tweet.user.name
            player_twitter.loc[m,'content'] = tweet.text
            player_twitter.loc[m,'retweet'] = tweet.retweet_count
            player_twitter.loc[m,'favorite'] = tweet.favorite_count
            player_twitter.loc[m,'date'] = tweet.created_at
            m = m + 1
    player_twitter.to_csv('players/ %s.csv'%players.iat[n, 1],index=False)